@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/globals";

.LastPoster {
  padding: 5px;
  box-sizing: border-box;
  flex-basis: 350px;
  align-self: center;

  div {
    font-size: 13px;

    & > span {
      font-weight: bold;
    }
  }
}

// 1000
@media (max-width: 999px) {
  .LastPoster {
    display: none;
  }
}
