@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/globals";

.Header {
  padding: 8px;
  background-color: $color-dark-grey;
  color: $color-white;
  line-height: 28px;

  .Title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
}

.Body {
  padding: 20px;

  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .FormGroup {
    @extend .Flex;
    flex: 1;
    margin-top: 15px;

    label,
    input {
      flex: 1;
      flex-basis: 200px;
      width: 100%;
    }

    label {
      align-self: center;
    }

    .FormInput {
      border: 1px solid #e5e5e5;
      padding: 15px;
      border-radius: 3px;
      font-size: 15px;
    }
  }

  .FormButton {
    width: 145px;
    height: 40px;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    border: 1px solid #0E61B1;
    background-color: #0e7aca;
    color: $color-white;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: rgb(15, 132, 218);
    }
  }
}

.Footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: $color-white;
}

.RememberMeGroup {
  margin-top: 15px;
}

.FormCheckbox {
  width: 20px;
  height: 20px;
}

.ButtonClose {
  color: $color-white;
  float: right;
  margin-right: 10px;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $color-black;
    text-decoration: none;
    cursor: pointer;
  }
}

// 500
@media (max-width: 496px) {
  .FormGroup label {
    display: none;
  }
}
