@import "../../../assets/styles/variables";
@import "../../../assets/styles/globals";

.Navbar {
  display: flex;
  font-size: 14px;
  background: #fafafa;
  min-height: 50px;
  border-bottom: 1px solid #ebebeb;

  & > .Container {
    @extend .Flex;
    justify-content: space-between;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
  }

  & ul.Breadcrumbs {

    & > li {
      display: inline;

      & > a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
        color: #5a5a5a;

        &:hover {
          text-decoration: none;
          color: $color-soft-light-blue;
        }
      }

      &:first-child > a {
        margin-left: 0;
      }

      &:last-child > a {
        color: grey;
        text-decoration: none;
      }

      &:last-child > i {
        display: none;
      }
    }
  }

  & ul.Submenu {
    & > li {
      display: inline;
      font-weight: bold;

      & > a {
        margin-right: 10px;
        text-decoration: none;
        color: $color-soft-blue;

        &:hover {
          color: $color-dark-grey;
        }
      }

      &:last-child > a {
        margin-right: 2px;
      }
    }
  }

  .MobileBreadcrumbs {
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;

    & select {
      display: none;
      height: 100%;
    }
  }

  .SelectSelected {
    background-color: #fafafa;

    &:after {
      position: absolute;
      content: "";
      top: 20px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: #535353;
    }

    &.SelectArrowActive:after {
      border-color: transparent;
      border-bottom-color: #535353;
      top: 14px;
    }
  }

  .SelectItems div, .SelectSelected {
    color: #535353;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #bbbbbb;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);

    &:last-child {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid #bbbbbb;
    }

    &:first-child {
      border-top: 0 !important;
    }
  }

  .SelectItems {
    position: absolute;
    background-color: #fafafa;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .SelectHide {
    display: none;
  }

  .SelectItems div:hover, .SameAsSelected {
    background-color: #dddddd;
  }
}

// 700
@media (max-width: 699px) {
  .Submenu {
    display: none;
  }
}

// 600
@media (max-width: 600px) {
  .Navbar {
    & > .Container {
      width: 100%;
    }

    .Breadcrumbs {
      display: none;
    }

    .MobileBreadcrumbs {
      display: inline-block;
    }
  }
}
