@import "../../../assets/styles/variables";

.Modal {
  position: fixed;
  z-index: 200;
  background-color: #fefefe;
  margin: auto;
  left: 10px;
  right: 10px;
  top: 0;
  padding: 0;
  border: 1px solid #888;
  width: auto;
  max-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  color: $color-black;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateY(30%);
}

.Close {
  transform: translateY(-110%);
}

// 800
@media (max-width: 800px) {
  .Open {
    transform: translateY(10px);
  }
}

