@import "../../../assets/styles/variables";

.Header {
  display: flex;
  width: 100%;
  min-height: 45px;
  font-weight: bold;
  background-color: $color-dark-grey;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  justify-content: space-between;

  & > .Title {
    flex: 1;
  }

  & > a,
  & > span {
    margin-left: 25px;
    line-height: 45px;
    color: $color-white;
    text-decoration: none;
  }

  & > a:hover {
    color: #EBEBEB;
  }
}

.Controls {
  display: flex;
  //flex-grow: 1;
  text-align: right;
  height: 45px;
  margin-right: 5px;
  justify-content: flex-end;
  align-items: center;

  & > .ButtonToggle {
    margin-right: 20px;
    cursor: pointer;
    color: $color-white;
  }
}

// 400
@media (max-width: 399px) {
  .Header {
    & > a,
    & > span {
      margin-left: 10px !important;
    }
  }
}