.Icon {
  box-sizing: border-box;
  flex-basis: content;
  padding: 20px;
}

// 600
//@media (max-width: 600px) {
//  .Icon {
//    padding: 5px;
//    align-self: center;
//  }
//}

@media (max-width: 407px) {
  .Icon {
    display: none;
  }
}