@import "../../assets/styles/variables";
@import "../../assets/styles/globals";

.Header {
  width: 100%;
  min-height: 70px;
  background-color: $color-dark-grey;
  box-shadow: 0 0.125rem 0.1rem rgba(0,0,0,0.46);

  & .Container {
    & > * {
      flex: 1;
    }
  }
}

@media (max-width: 699px) {
  .Header {
    max-height: 65px;
  }
}
