@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/globals";

.Row {
  @extend .Flex;
  border-bottom: 1px solid #ebebeb;
  min-height: 60px;
  color: $color-black;

  & > .Stats{
    padding: 5px;
    box-sizing: border-box;
    flex-basis: 150px;
    text-align: center;
    font-size: 13px;
    align-self: center;
    color: #8a8a8a;
  }

  &:last-child {
    border-bottom: 0;
  }
}

// 600
@media (max-width: 600px) {
  .Row {
    & > .Stats {
      display: none;
    }
  }
}