@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/globals";

.Sidebar {
  @extend .Flex;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  background-color: #f7f7f7;
  right: 0;
  top: 0;
  padding: 0;
  border: 1px solid #888;
  border-left: none;
  width: 300px;
  max-width: 80%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  color: $color-black;
  transition: transform 0.3s ease-out;

  .Title {
    font-weight: bold;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid $color-dark-grey;
  }

  ul {
    list-style-type: none;
    flex: 1;
    padding: 0;
    margin: 0;

    li {
      $height: 50px;

      height: $height;
      border-bottom: 1px solid $color-dark-grey;
      text-align: center;
      line-height: $height;
      font-size: 18px;

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        color: $color-black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
  }
}

.ButtonClose {
  $size: 60px;

  @include box($size);
  line-height: $size + 10;
  color: $color-black;
  text-align: center;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(110%);
}

@media (min-width: 700px) {
  .Sidebar {
    display: none;
  }
}
