@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/globals";

.Title {
  padding: 5px;
  box-sizing: border-box;
  flex: 8;
  align-self: center;

  .SubForumName {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
  }

  .Description {
    font-size: 12px;
    color: #8b8b8b;
  }

  .Description > .TopicInfo:last-child,
  .LastPosterMobile > .TopicInfo:last-child {
    margin-left: 10px;
  }
}

.LastPosterMobile {
  display: none;
  font-size: 12px;
}

.StatsMobile {
  display: none;
  font-size: 11px;
  color: #8a8a8a;
}

// 1000
@media (max-width: 999px) {
  .LastPosterMobile {
    display: inline;

    a {
      text-decoration: underline;
    }
  }
}

// 600
@media (max-width: 600px) {
  .StatsMobile {
    display: inline;
  }
}