@import "../../assets/styles/variables";
@import "../../assets/styles/globals";

.Footer {
  background-color: #EBEBEB;
  min-height: 150px;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 25px;
  flex-shrink: 0;

  & > .Flex {
    @extend .Flex;
    justify-content: space-between;
  }

  .Box {
    flex: 1;
    color: #5A5A5A;

    div {
      font-size: 13px;
    }
  }
}

// 800
@media (max-width: 800px) {

  .Footer {
    & > .Flex {
      flex-direction: column;
    }

    .Box {
      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }
    }
  }
}
