@import "../../../assets/styles/variables";
@import "../../../assets/styles/globals";

.Content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $primary-bg-color;
  border-bottom: 1px solid $primary-bg-color;
  border-right: 1px solid $primary-bg-color;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
}

.Hide {
  display: none;
}
