@import "../../assets/styles/variables";
@import "../../assets/styles/globals";
@import "../../assets/styles/colors";

.Member {
  @extend .ForumSectionsLink;
  @extend .Member;
}

.Admin {
  @extend .ForumSectionsLink;
  @extend .Admin;
}

.Vip {
  @extend .ForumSectionsLink;
  @extend .Vip;
}

.Moderator {
  @extend .ForumSectionsLink;
  @extend .Moderator;
}

.Bold {
  font-weight: bold;
}
