@import "../../../assets/styles/variables";

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .MobileNav {
    display: none;
    color: $color-black;
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 42px;

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.TopNavigation {
  outline: 0;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #f0f0f0;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 0.18rem 0.3rem rgba(0, 0, 0, 0.85);
  list-style: none;
  display: flex;

  li {
    flex: 1;
    margin: 0;

    & > .TopNavLink {
      color: $color-black;
      padding: 12px 10px 12px 10px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $color-white;
        background-color: #272727;
        text-decoration: none;
      }
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

@media (max-width: 699px) {
  nav {
    flex: 1;

    .TopNavigation {
      display: none;
    }

    .MobileNav {
      display: inline-block;
    }
  }
}
