@import "assets/styles/variables";

html, body {
  font: 15px/1.4 $font-stack;
  margin: 0;
  padding: 0;
  color: $color-white;
  background-color: $primary-bg-color;
  zoom: 0;
  height: 100%;

  > div[id=root] {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}