// GLOBALS
.Container {
  width: 80%;
  margin: 0 auto;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
}

.ForumSectionsLink {
  color: #5A5A5A;
  text-decoration: none;

  &:hover {
    color: #60a2db;
  }
}

.comma:last-child {
  display: none;
}

.open { display: block; }
.close { display: none; }

.forum-control {
  padding: 10px;
  background-color: $color-soft-blue;
  color: $color-white;
  font-size: 12px;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 3px;

  &:hover {
    background-color: rgb(15, 132, 218);
  }
}
// END GLOBALS

// MEDIA QUERIES

// 1200
@media (max-width: 1200px) {
  .Container {
    width: 95%;
  }
}