// Fonts
$font-stack: Arial, sans-serif;

// Colors
$color-white: #FFFFFF;
$primary-bg-color: #f7f7f7;

$color-black: #000000;
$color-blue: #164bff;
$color-soft-blue: #0d71bb;
$color-soft-light-blue: #60a2db;
$color-green: #248f22;
$color-orange: #ff7000;
$color-light-orange: #ffa500;
$color-dark-red: #bc0000;
$color-dark-grey: #5e5e5e;