@import "variables";

.Member { color: $color-black; }
.Vip { color: $color-blue; }
.Moderator { color: $color-green; }
.Admin { color: $color-light-orange; }

.Orange { color: $color-orange; }
.Red { color: $color-dark-red; }
.Blue { color: $color-soft-blue; }